## Collaborative Filtering

### K Nearest Neighbors

In [1]:
import pandas as pd
import numpy as np
books = pd.read_csv("popular_books.csv")
ratings = pd.read_csv("Ratings.csv", low_memory=False)

In [2]:
print(books.shape)
print(list(books.columns))

(1913, 8)
['ISBN', 'AvgBookRating', 'NumberOfRating', 'BookTitle', 'BookAuthor', 'YearOfPublication', 'Publisher', 'new_score']

In [3]:
ratings = ratings.rename(columns={"User-ID": "UserID", "Book-Rating":"BookRating"})
print(ratings.shape)
print(list(ratings.columns))

(1149780, 3)
['UserID', 'ISBN', 'BookRating']

In [4]:
list_of_books = books['ISBN'].tolist()

In [5]:
list_of_books

['1551668300',
 '0451524934',
 '0446610038',
 '0345303067',
 '1551669293',
 '0451203593',
 '0316693200',
 '0316603570',
 '0451203895',
 '0860074382',
 '1558743316',
 '0743224574',
 '0446611867',
 '0451183665',
 '1558743669',
 '0679772677',
 '0393312836',
 '0345452569',
 '0345452550',
 '0517122707',
 '0802130208',
 '0671886665',
 '0345425707',
 '0440217490',
 '0446667900',
 '0670896764',
 '140003065X',
 '0553573403',
 '0767915054',
 '0553278029',
 '0684863472',
 '0375725784',
 '0553279912',
 '0345423402',
 '0375702709',
 '0140254544',
 '0451188489',
 '0452281903',
 '0374270325',
 '0385720106',
 '0140270590',
 '0553278274',
 '044023722X',
 '0156711427',
 '080411918X',
 '0449003981',
 '0440168724',
 '0449223345',
 '0449225151',
 '0312979533',
 '0345361792',
 '0671776975',
 '0671793535',
 '0553280414',
 '0375504613',
 '0312952716',
 '0345389964',
 '0345347536',
 '0440901588',
 '0061031992',
 '0061000043',
 '0553571885',
 '0449907481',
 '0440211727',
 '0553582364',
 '006092988X',
 '0375703063',
 '0767902513',
 '0767902521',
 '0446608955',
 '034543479X',
 '0375501371',
 '0440487617',
 '0553262505',
 '0440498058',
 '0440998050',
 '0679731148',
 '0446387878',
 '002026478X',
 '0684874350',
 '042517736X',
 '0821770209',
 '1573227331',
 '1573229571',
 '0446603589',
 '0425151867',
 '0440217547',
 '0425114236',
 '0684195488',
 '0440225817',
 '042515601X',
 '1573228737',
 '0061091790',
 '044023574X',
 '0688177859',
 '0345402871',
 '0449217264',
 '0385475713',
 '0385490445',
 '038000321X',
 '0671793489',
 '0316782262',
 '0894808249',
 '080410526X',
 '0449213943',
 '0671873199',
 '0380718332',
 '0671027123',
 '0679774025',
 '0679744398',
 '0446364193',
 '0380789035',
 '0380973650',
 '0679735771',
 '0385494246',
 '0375705198',
 '0743411269',
 '0425167720',
 '0425129586',
 '0312979479',
 '0553579983',
 '0449006344',
 '0684872153',
 '068484267X',
 '000649840X',
 '0060008032',
 '0671027360',
 '014016930X',
 '0345438825',
 '0345442822',
 '0064472272',
 '0375724370',
 '0060921145',
 '0451526341',
 '0385319037',
 '0553296981',
 '0553213148',
 '055321313X',
 '0553213156',
 '0553213164',
 '0553213172',
 '0553213180',
 '038533656X',
 '0671534645',
 '0842329269',
 '0440404193',
 '0786817070',
 '0060192119',
 '0061099341',
 '0553579606',
 '0380818973',
 '0842329277',
 '014025448X',
 '0425117383',
 '0425177173',
 '0451191145',
 '038572179X',
 '0385503954',
 '0380002450',
 '0553280341',
 '0684853507',
 '0767912233',
 '0670894184',
 '0345446860',
 '0375412530',
 '0451204956',
 '0452281784',
 '0553568701',
 '067102423X',
 '037541309X',
 '0385722206',
 '0316779423',
 '044661193X',
 '0452269571',
 '0884046818',
 '1551668998',
 '0385413041',
 '0345313151',
 '0385498802',
 '0671004573',
 '0684835983',
 '0449911446',
 '0552996181',
 '0312150601',
 '0060188731',
 '0060934417',
 '0515093556',
 '0571081789',
 '0452280621',
 '0452264464',
 '0425178579',
 '155166674X',
 '0451202317',
 '0345445848',
 '0142004278',
 '0345459202',
 '0345438329',
 '0425184129',
 '0345413865',
 '0425177351',
 '0380716542',
 '0515137111',
 '0671868691',
 '051510521X',
 '0440224845',
 '0446609323',
 '0451205146',
 '0375504397',
 '0425175405',
 '0440226104',
 '0375500510',
 '0552998001',
 '0385511612',
 '0446600253',
 '0375502238',
 '0812969812',
 '0156007754',
 '0425136191',
 '0380820889',
 '0425183750',
 '0451208811',
 '0440204208',
 '0446602620',
 '0345409329',
 '0671016768',
 '0380728133',
 '0441003745',
 '0399150897',
 '0425184943',
 '0449204324',
 '1573222267',
 '0671038567',
 '0380717018',
 '0553582143',
 '1551665301',
 '0767907817',
 '0446518581',
 '0515114693',
 '0515116750',
 '051511779X',
 '0671743058',
 '0060929871',
 '0553272837',
 '044022473X',
 '0440131480',
 '0425176932',
 '037570504X',
 '042511774X',
 '0064401847',
 '0670892963',
 '014028009X',
 '0140298479',
 '0061098035',
 '0440208459',
 '0671020293',
 '0553582763',
 '051511054X',
 '0553280368',
 '0553282476',
 '0684832178',
 '0440110653',
 '1559029838',
 '0385336810',
 '0140440046',
 '0446530522',
 '0446678457',
 '0449217493',
 '0553295977',
 '0515130389',
 '0446606189',
 '0316693294',
 '0684833395',
 '0767905385',
 '044922046X',
 '0064405842',
 '0670894508',
 '0425158616',
 '0425174271',
 '0440111811',
 '0441102670',
 '059030271X',
 '0064400557',
 '038533334X',
 '044661162X',
 '0452284295',
 '0399149392',
 '1558747028',
 '1558744606',
 '1558745718',
 '155874262X',
 '1558744630',
 '1558746161',
 '1558744150',
 '0374121230',
 '0345347951',
 '0441104029',
 '0552998486',
 '0385720920',
 '0553578359',
 '0425182878',
 '0451128370',
 '0684814994',
 '0380001411',
 '0425161242',
 '0440211263',
 '0061098361',
 '0441001971',
 '0446611611',
 '0886777631',
 '0425144372',
 '0425122123',
 '055358099X',
 '0441010512',
 '0671027662',
 '0451204530',
 '0821769340',
 '0425130711',
 '0871136791',
 '0375700757',
 '0451205626',
 '038531258X',
 '0061099708',
 '0312958129',
 '0380703882',
 '0440241413',
 '0385335482',
 '0312288115',
 '0060987529',
 '0345378490',
 '0373243790',
 '0671004107',
 '0425155943',
 '0399142789',
 '0380807343',
 '0373244487',
 '067976397X',
 '0553573136',
 '0061031410',
 '0061099325',
 '0316690619',
 '0312971125',
 '0553284118',
 '0553574086',
 '0515126489',
 '0445406518',
 '044011585X',
 '0385337639',
 '0380718340',
 '055356160X',
 '0345396936',
 '0743262174',
 '0060512806',
 '0451161351',
 '0425182673',
 '0553271636',
 '0671001132',
 '0440207622',
 '0743206045',
 '0446394521',
 '0061000027',
 '0515131229',
 '0449134482',
 '0553277537',
 '0515119202',
 '0345404785',
 '0553561618',
 '034539657X',
 '1551669390',
 '0671759329',
 '0425104346',
 '0553297260',
 '0345435249',
 '3257228007',
 '0373250142',
 '0060932759',
 '006019491X',
 '038082101X',
 '0671670689',
 '0553584383',
 '0552999458',
 '1551666839',
 '0451206525',
 '0441008534',
 '0671028367',
 '0671011375',
 '0345446666',
 '0140481346',
 '0399139540',
 '0425147584',
 '0671027387',
 '0553575090',
 '0743418131',
 '0425178951',
 '034538184X',
 '0671011367',
 '0425158594',
 '3257229534',
 '084233226X',
 '0451188462',
 '0446359750',
 '0553563521',
 '0385335830',
 '0451124340',
 '0451167538',
 '0312263120',
 '0345391055',
 '0385720467',
 '0345450728',
 '0060173289',
 '0060928336',
 '0345453387',
 '155166884X',
 '0451177096',
 '0375758992',
 '0786889020',
 '0786881852',
 '0553562738',
 '0380727293',
 '0345413881',
 '0679459618',
 '0451523377',
 '0425140032',
 '0345335465',
 '0440215625',
 '0880381736',
 '0345362861',
 '055358264X',
 '0743211383',
 '0385502532',
 '0345439104',
 '044022425X',
 '0446532231',
 '0425080021',
 '0441172717',
 '0441172695',
 '0553582526',
 '0553560247',
 '0553279556',
 '067169071X',
 '0142004235',
 '0151002290',
 '0156011042',
 '0425178765',
 '0345354613',
 '1592400876',
 '0440122090',
 '0156005891',
 '0446670111',
 '0515135739',
 '0345285549',
 '0385722435',
 '0375703055',
 '0553565915',
 '0375726403',
 '0671025333',
 '0380725835',
 '0812550706',
 '0812575717',
 '0066214440',
 '0373250282',
 '0373218192',
 '0446611808',
 '0375826688',
 '0345334019',
 '0553280589',
 '0440223202',
 '0743439740',
 '0060529709',
 '0743235150',
 '0446604232',
 '0425158632',
 '0553295772',
 '0425132048',
 '0345386132',
 '0451151259',
 '0553284789',
 '0671797050',
 '0671000314',
 '0671894455',
 '0684195984',
 '051513287X',
 '0345342968',
 '0312983824',
 '0743237188',
 '0671642561',
 '0452283205',
 '0140265988',
 '0767903579',
 '0553580221',
 '0451199685',
 '0440124344',
 '0449215296',
 '0684801469',
 '0553272586',
 '0452283027',
 '0060938455',
 '0312980159',
 '0446605581',
 '0425145638',
 '0671028375',
 '0425097722',
 '0553579754',
 '0679785892',
 '0345334531',
 '0312979886',
 '0805062971',
 '0553582135',
 '0446530077',
 '0061092614',
 '0515120871',
 '0440200563',
 '1573229725',
 '0425190641',
 '0553573209',
 '0440204194',
 '0451167805',
 '0380725827',
 '0440222842',
 '0060198133',
 '034545104X',
 '034541389X',
 '0671729411',
 '0553274503',
 '0380978415',
 '0553581023',
 '0380820447',
 '1551660717',
 '067101420X',
 '0440226414',
 '0316678104',
 '0316781010',
 '0345368754',
 '0446613266',
 '080213825X',
 '0451170385',
 '0312966970',
 '0767913000',
 '0345402308',
 '0553212478',
 '0316769495',
 '1844262553',
 '0446364266',
 '034530988X',
 '0804115613',
 '0425154092',
 '0743417682',
 '0743211375',
 '0553582747',
 '0312983301',
 '0312983271',
 '0312983298',
 '031298328X',
 '0449219364',
 '067164257X',
 '0440127793',
 '0140280553',
 '1565122968',
 '0743203631',
 '074322535X',
 '0671670646',
 '0446391301',
 '031205436X',
 '0553290789',
 '0451176464',
 '0440209803',
 '006098824X',
 '1551668653',
 '0679732411',
 '052594527X',
 '014029628X',
 '0452282152',
 '0679746048',
 '1885171080',
 '1551669498',
 '0425150984',
 '0689817851',
 '060980619X',
 '0671749412',
 '0553569031',
 '038533558X',
 '0440236738',
 '0446365386',
 '0743225724',
 '0441003257',
 '0743418174',
 '0345298349',
 '0743407083',
 '0440224829',
 '0671028383',
 '0684859734',
 '0671016776',
 '0679723110',
 '0877017883',
 '1401088945',
 '0449223043',
 '0440213991',
 '0441304834',
 '0553564528',
 '0393317552',
 '0449219461',
 '0553377876',
 '0345433491',
 '0440224675',
 '0312983867',
 '0440224705',
 '0425125467',
 '0439064872',
 '0439139597',
 '043935806X',
 '0439136369',
 '0590353403',
 '059035342X',
 '067155302X',
 '1551667509',
 '0440220424',
 '0743456866',
 '0671534726',
 '0515128554',
 '0440211891',
 '0671034006',
 '0671024248',
 '0684853515',
 '0743436210',
 '0515132020',
 '0553296124',
 '0515133302',
 '0425167313',
 '0425169693',
 '0425171396',
 '0671873202',
 '0515116068',
 '0446603716',
 '042513525X',
 '0553576925',
 '1573228214',
 '0312971346',
 '157322930X',
 '067101417X',
 '0061099694',
 '0679721037',
 '0671527215',
 '0515120006',
 '0440414806',
 '0316779237',
 '0515118230',
 '0515124893',
 '0061092045',
 '0451210743',
 '0399142282',
 '0552143774',
 '0312976275',
 '0553580272',
 '0375703764',
 '0375727345',
 '0451192001',
 '0671723650',
 '0452268060',
 '1573221937',
 '0345370805',
 '0061097861',
 '0425188787',
 '0312201656',
 '0375713751',
 '0375414053',
 '0449221512',
 '0060987561',
 '0060391626',
 '0553279378',
 '0671888587',
 '0553264079',
 '076790382X',
 '0553294385',
 '0786866845',
 '0345384350',
 '0142000205',
 '0425158640',
 '0449149986',
 '0743406176',
 '0380723638',
 '3404148665',
 '0440343194',
 '0440204887',
 '0425191583',
 '0451204301',
 '0679745580',
 '0743418204',
 '0553575104',
 '0679434046',
 '0553576089',
 '0671519816',
 '0515124214',
 '0670855030',
 '0345384369',
 '0451180216',
 '039592720X',
 '0345337662',
 '0679457526',
 '0385492081',
 '0385486804',
 '0425155404',
 '0393319296',
 '0373484003',
 '0373243286',
 '0440224861',
 '0553375407',
 '0440439884',
 '0440940001',
 '039914739X',
 '0451149513',
 '0804105820',
 '0380710722',
 '0812967240',
 '0425179613',
 '0449221482',
 '0446604801',
 '0451207521',
 '0140374248',
 '0553211404',
 '0452269652',
 '0140276904',
 '0767905180',
 '0385507593',
 '0671038184',
 '0671042572',
 '044021422X',
 '0515126772',
 '0553348981',
 '0345316509',
 '0380012863',
 '0440237025',
 '0451409973',
 '0064400581',
 '0380730820',
 '0345370775',
 '0449221504',
 '0440201926',
 '0515136379',
 '051513628X',
 '0515136530',
 '0553572040',
 '044661095X',
 '0345453816',
 '0380805995',
 '0446601241',
 '0671880187',
 '0060934913',
 '0451162145',
 '0765342987',
 '0449221490',
 '0805019375',
 '0671623249',
 '0804113475',
 '067103619X',
 '0670805149',
 '0140092323',
 '0380813815',
 '0679412956',
 '0345397819',
 '0380820293',
 '067102535X',
 '0446611778',
 '0452277337',
 '0440236991',
 '0842342702',
 '0842329129',
 '0440226406',
 '0061094129',
 '0671001701',
 '0671568175',
 '0380973545',
 '0451146425',
 '0525947647',
 '0786884592',
 '0671553046',
 '0156027321',
 '1558531025',
 '0330267388',
 '0440221501',
 '038542017X',
 '0385474016',
 '0385420161',
 '0020442203',
 '0060517794',
 '0060976845',
 '0064400018',
 '0064400026',
 '0679723161',
 '0449002632',
 '0440236665',
 '067168390X',
 '0553571818',
 '0671742515',
 '0061030430',
 '0440235774',
 '0399501487',
 '0440224071',
 '0446611638',
 '0440212812',
 '0140119906',
 '0671758896',
 '0061093327',
 '0684857820',
 '0316096199',
 '0786867647',
 '0446604658',
 '0380796104',
 '0385722192',
 '0449223604',
 '0805036377',
 '0684810387',
 '0373483503',
 '0373483694',
 '0345317580',
 '0786862564',
 '0440223237',
 '0679751602',
 '0451124383',
 '0743225082',
 '0449006522',
 '0446802204',
 '014034294X',
 '0425135721',
 '0316776963',
 '0671534718',
 '0345409671',
 '0679441018',
 '0375400117',
 '0099771519',
 '0446354678',
 '006016848X',
 '0671034022',
 '0679454489',
 '0345422406',
 '0440209412',
 '0446606812',
 '0786889608',
 '0374199698',
 '0425118703',
 '0515133973',
 '0449006530',
 '0671695169',
 '0679751521',
 '0679429220',
 '0140132708',
 '0375706771',
 '0380732688',
 '0373250126',
 '0425152898',
 '0451141083',
 '0446353957',
 '0451153553',
 '0688177751',
 '0553566040',
 '0061096113',
 '0451176723',
 '0440214114',
 '0061030597',
 '0345413873',
 '059045367X',
 '1551664348',
 '0515120618',
 '0804117683',
 '0380726262',
 '0671867113',
 '1400031362',
 '0515102636',
 '0446602213',
 '0425113884',
 '0399148639',
 '0786866276',
 '0671774670',
 '0440225825',
 '0061031070',
 '0767905202',
 '0425144429',
 '0671027573',
 '0156628708',
 '0671534742',
 '0451410947',
 '0670031062',
 '0060926317',
 '0425119653',
 '1573229083',
 '0684832291',
 '0553099558',
 '0553573616',
 '0380731851',
 '3423202327',
 '0449223612',
 '0805036504',
 '0316779490',
 '0399150439',
 '0425148297',
 '0312978332',
 '0446322180',
 '0515133876',
 '0449221180',
 '0553568760',
 '0312963009',
 '0451172817',
 '0670839531',
 '0440241162',
 '0425161722',
 '0441569595',
 '0743411331',
 '0380789019',
 '0805063889',
 '0842329242',
 '0553272535',
 '0425098648',
 '042517400X',
 '0425146413',
 '0373270976',
 '055356451X',
 '0671525743',
 '0451173139',
 '0451180232',
 '0446531332',
 '0449005909',
 '0316769509',
 '0440213282',
 '0553584375',
 '0345404777',
 '0525947299',
 '0061093335',
 '0590660543',
 '0312925883',
 '0552996009',
 '0380727501',
 '0446354732',
 '0671034057',
 '0312979096',
 '0440117437',
 '0440403278',
 '0440225299',
 '0684801221',
 '0140067779',
 '080410946X',
 '0440235502',
 '0553802496',
 '0140177396',
 '0804106436',
 '0449149676',
 '0684853523',
 '0345338588',
 '0140042598',
 '0140185216',
 '0671004530',
 '0743206029',
 '0553585118',
 '0440166497',
 '0028604199',
 '044020562X',
 '0553582755',
 '0451163966',
 '0060929790',
 '0060740450',
 '0312199430',
 '044022103X',
 '0312990456',
 '0061009059',
 '0375506039',
 '0345435168',
 '0671027581',
 '0061013412',
 '0451206711',
 '0385503857',
 '0394742117',
 '055357695X',
 '0140265686',
 '042510687X',
 '0061099732',
 '0440212561',
 '0449003795',
 '0399147195',
 '0060008776',
 '0440167531',
 '0375401598',
 '0312960344',
 '0345422384',
 '0679433740',
 '0380804697',
 '0786889616',
 '0375758232',
 '0553580515',
 '0425134350',
 '0425109720',
 '0804114609',
 '0449911004',
 '0345335511',
 '0743412028',
 '0684862719',
 '0553284363',
 '0802139256',
 '0671759361',
 '0451206673',
 '051513225X',
 '1551668246',
 '0375725849',
 '0446608602',
 ...]

In [6]:
len(list_of_books)

1913

In [7]:
ratings = ratings[ratings['ISBN'].isin(list_of_books)]

In [8]:
ratings

         UserID        ISBN  BookRating
0        276725  034545104X           0
11       276746  0449006522           0
12       276746  0553561618           0
13       276746  055356451X           0
16       276747  0060517794           9
...         ...         ...         ...
1149761  276704  0345386108           6
1149767  276704  0446353957           0
1149768  276704  0446605409           0
1149771  276704  0743211383           7
1149772  276704  080410526X           0

[207311 rows x 3 columns]

In [9]:
counts1 = ratings['UserID'].value_counts()
ratings = ratings[ratings['UserID'].isin(counts1[counts1 >= 50].index)]

In [10]:
ratings

         UserID        ISBN  BookRating
1456     277427  002542730X          10
1468     277427  006092988X           0
1469     277427  0060930535           0
1470     277427  0060932139           0
1471     277427  0060934417           0
...         ...         ...         ...
1147440  275970  1400031354           0
1147441  275970  1400031362           0
1147470  275970  1558744606           0
1147517  275970  1573229725           0
1147584  275970  1853260010           0

[80279 rows x 3 columns]

In [11]:
books_details = pd.merge(ratings, books, on=["ISBN"])

In [12]:
books_details

,UserID,ISBN,BookRating,AvgBookRating,NumberOfRating,BookTitle,BookAuthor,YearOfPublication,Publisher,new_score
0,277427,002542730X,10,3.514620,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,1.767959
1,3363,002542730X,0,3.514620,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,1.767959
2,11676,002542730X,6,3.514620,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,1.767959
3,12538,002542730X,10,3.514620,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,1.767959
4,13552,002542730X,0,3.514620,171,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,1.767959
...,...,...,...,...,...,...,...,...,...,...
80274,234828,0345333926,8,3.915254,59,Ringworld,Larry Niven,1990,Del Rey Books,1.772682
80275,236283,0345333926,0,3.915254,59,Ringworld,Larry Niven,1990,Del Rey Books,1.772682
80276,249628,0345333926,0,3.915254,59,Ringworld,Larry Niven,1990,Del Rey Books,1.772682
80277,261829,0345333926,0,3.915254,59,Ringworld,Larry Niven,1990,Del Rey Books,1.772682
80278,264321,0345333926,8,3.915254,59,Ringworld,Larry Niven,1990,Del Rey Books,1.772682

In [26]:
books_details.to_csv("books_details.csv")

In [13]:
from scipy.sparse import csr_matrix
user_rating_pivot = books_details.pivot(index = 'BookTitle', columns = 'UserID', values = 'BookRating').fillna(0)
user_rating_matrix = csr_matrix(user_rating_pivot.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(user_rating_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [14]:
user_rating_pivot.head(20)

UserID,254,3363,4017,5903,6251,6323,6543,6563,6575,7158,...,273086,273113,273979,274004,274061,274301,274308,275970,277427,278418
BookTitle,,,,,,,,,,,,,,,,,,,,,
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3rd Degree,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Case of Need,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Civil Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Clockwork Orange (Norton Paperback Fiction),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cold Heart (Alex Delaware Novels (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cold Heart: An Alex Delaware Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Confederacy of Dunces,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
user_rating_matrix

<1913x698 sparse matrix of type '<class 'numpy.float64'>'
	with 19289 stored elements in Compressed Sparse Row format>

In [28]:
# query_index = np.random.choice(user_rating_pivot.shape[0])
query_index = 5
print(query_index)
distances, indices = model_knn.kneighbors(user_rating_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 4)

5

In [29]:
user_rating_pivot.iloc[query_index,:].values.reshape(1,-1)

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.]])

In [30]:
user_rating_pivot.index[query_index]

'24 Hours'

In [31]:
recommend_list= []
for i in indices[0]:
    recommend_list.append(user_rating_pivot.index[i])

In [32]:
recommend_list[1:]

['The Perfect Storm: A True Story of Men Against the Sea',
 'The Day After Tomorrow',
 'The Blue Nowhere : A Novel']

In [33]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}'.format(i,user_rating_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for 24 Hours:

1: The Perfect Storm: A True Story of Men Against the Sea, with distance of 0.5357616545573702
2: The Day After Tomorrow, with distance of 0.7250089370643205
3: The Blue Nowhere : A Novel, with distance of 0.7357509012183834